.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
image/black/*
image/oneFile/*
image/creadit.txt
image/kind.txt
js/fabric.js

# Built Visual Studio Code Extensions
*.vsix
